<h1>Welcome</h1>
<% if logged_in? %>
  <h1>You are Logged In, <%= current_user.username %></h1>
  <%= button_to "Logout", '/logout', method: :get, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<%end%>

<% if !logged_in? %>
  <%= button_to "Login", '/login', method: :get %>
  <%= button_to "Sign Up", '/users/new', method: :get %>
<%end%>
