<nav class="flex items-center justify-between flex-wrap bg-green-300 p-6">
  <div class="flex items-center flex-no-shrink text-white mr-6">
    <svg class="h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
    <a href="/">
      <span class="font-semibold text-xl tracking-tight text-black">P-M-Tool</span>
    </a>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <% if current_user %>
        <a href="/welcome" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4 underline">
          Your Companies
        </a>
        <a href="/activities" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4 underline">
          Activities (<%= Notification.get_new_notifications(current_user).count %>)
        </a>
      <% end %>
    </div>
    <div>
      <% if logged_in? %>
        <%= button_to "Logout", '/logout', method: :get, class: "transition duration-500 inline-block text-sm px-4 py-2 text-black border-black ease-in-out bg-green-600 hover:bg-black hover:text-white transform hover:-translate-y-1 hover:scale-110 hover:border-transparent rounded border cursor-pointer" %>
      <% else %>
        <%= button_to "Login", '/login', method: :get, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0 transition-colors" %>
        <%= button_to "Sign Up", '/users/new', method: :get, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0 transition-colors" %>
      <% end %>
    </div>
  </div>
</nav>